@media only screen and (min-width: 1275px) {
  #url-input {
    max-width: 40%;
  }

  #url-section button {
    max-width: 10%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1275px) {
  #url-input {
    max-width: 60%;
  }

  #url-section button {
    max-width: 15%;
  }

}
